@charset "UTF-8";
@import './vars.scss';
/*********************************----便捷样式----************************/
body{color:#4c4c4c; overflow-y: scroll !important; font-size: 14px;background:#f8f8f8;padding:0px;margin:0px;font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;}
ol,ul,li{list-style:none;}
h1,h2,h3,h4,h5,h6,p,ul,li,ol,dl,dd,dt{margin: 0px; padding:0px;}
table{border-collapse:collapse;}
em,i{font-style:inherit}
a{color:#828282; text-decoration: none; cursor: pointer;}
a:hover{color:#ac1f2a;}
.main-container{width: 960px; margin-left:auto; margin-right:auto;}
.main-content{width: 960px; margin-left:auto; margin-right:auto; padding-top:30px; padding-bottom:30px;}
.fix {*zoom: 1;}
.fix::after { display: block;content: "clear";height: 0;clear: both;overflow: hidden;visibility: hidden;}
.vam{vertical-align:middle}.vat{vertical-align:top}.vab{vertical-align:bottom}
.nowrap {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.none{display:none;}.inline {display: inline;}.block {display: block;}.inline-block {display: inline-block;}
.position-r{position:relative}.position-a{position:absolute}.position-f{position:fixed}

//浮动
.fl {float: left;}.fr {float: right;}
//text-algin
.tac{text-align: center}
.tar{text-align: right}
.tal{text-align: left}
//边距
.mt5{margin-top: 5px;}.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}.mt30{margin-top: 30px;}
.mt35{margin-top: 35px;}.mt40{margin-top: 40px;}

.mr5{margin-right: 5px;}.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}.mr20{margin-right: 20px;}
.mr25{margin-right: 25px;}.mr30{margin-right: 30px;}
.mr35{margin-right: 35px;}.mr40{margin-right: 40px;}

.mb5{margin-bottom: 5px;}.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}.mb30{margin-bottom: 30px;}
.mb35{margin-bottom: 35px;}.mb40{margin-bottom: 40px;}

.ml5{margin-left: 5px;}.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}.ml20{margin-left: 20px;}
.ml25{margin-left: 25px;}.ml30{margin-left: 30px;}
.ml35{margin-left: 35px;}.ml40{margin-left: 40px;}

.mlr5{margin-right: 5px;margin-left: 5px;}.mlr10{margin-right: 10px;margin-left: 10px;}
.mlr15{margin-right: 15px;margin-left: 15px;}.mlr20{margin-right: 20px;margin-left: 20px;}
.mlr15{margin-right: 15px;margin-left: 15px;}.mlr20{margin-right: 20px;margin-left: 20px;}
.mlr25{margin-right: 25px;margin-left: 25px;}.mlr30{margin-right: 30px;margin-left: 30px;}

.mtb10{margin-top: 10px;margin-bottom: 10px;}.mtb10{margin-top: 10px;margin-bottom: 10px;}
.mtb15{margin-top: 15px;margin-bottom: 15px;}.mtb20{margin-top: 20px;margin-bottom: 20px;}
.mtb25{margin-top: 25px;margin-bottom: 25px;}.mtb30{margin-top: 30px;margin-bottom: 30px;}
.mtb35{margin-top: 35px;margin-bottom: 35px;}.mtb40{margin-top: 40px;margin-bottom: 40px;}
/*----padding----*/
.pt10{padding-top:10px;}.pt15{padding-top:15px;}
.pt20{padding-top:20px;}.pt25{padding-top:25px;}
.pt30{padding-top:30px;}

.pr10{padding-right:10px;}.pr15{padding-right:15px;}
.pr20{padding-right:20px;}.pr25{padding-right:25px;}
.pr30{padding-right:30px;}

.pb10{padding-bottom:10px;}.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}.pb60{padding-bottom:60px;}

.pl10{padding-left:10px;}.pl15{padding-left:15px;}
.pl20{padding-left:20px;}.pl25{padding-left:25px;}
.pl30{padding-left:30px;}

.p10{padding:10px;}.p15{padding:15px;}
.p20{padding:20px;}.p25{padding:25px;}
.p30{padding:30px;}

.plr10{padding-left: 10px;padding-right: 10px;}.plr15{padding-left: 15px;padding-right: 15px;}
.plr20{padding-left: 20px;padding-right: 20px;}.plr25{padding-left: 25px;padding-right: 25px;}
.plr30{padding-left: 30px;padding-right: 30px;}

.ptb10{padding-top :10px;padding-bottom :10px;}.ptb15{padding-top :15px;padding-bottom :15px;}
.ptb20{padding-top :20px;padding-bottom :20px;}.ptb25{padding-top :25px;padding-bottom :25px;}
.ptb30{padding-top :30px;padding-bottom :30px;}

/*----lineHeight----*/
.lh20 {line-height: 20px;}.lh25 {line-height: 25px;}
.lh30 {line-height: 30px;}.lh35 {line-height: 35px;}
.lh40 {line-height: 40px;}.lh50 {line-height: 50px;}
.lh60{line-height: 60px;}
/*----width----*/
.w220{width: 220px;}.w780{width:780px;}
/*----height----*/
.h40{height: 40px;}
/*----fontSize----*/
.fs12{font-size:12px;}.fs14{font-size:14px;}.fs16{font-size:16px;}
.fs18{font-size:18px;}.fs24{font-size:24px;}
.fs28{font-size:28px;}.fs20{font-size:20px;}
/*----color----*/
.cRed{color:#db2d2f}.cGray9{color:#999}
.cBlue{color:#318df4}.cGreen{color:#2cc249}
.cOrange{color: #f18e00}

/*************************----通用样式----**********************************/

/*---头部----*/
.header .hearderQuit{display: inline-block; width:94px; height:26px; line-height: 24px; text-align: center;background:url(../images/common/hearderQuit.png) no-repeat;}
/*---右边工具----*/
.right-tools{position:fixed; top:90px; z-index:999; left:50%; margin-left:500px;opacity:0;transition:opacity 0.2s;}
.showRightTools{opacity:1;}
.toolsBox{width:50px;height:50px;background:#d5d5d5; text-align:center;line-height:50px; font-size:20px; cursor: pointer;}
/*---重置element--菜单----*/
.header .el-menu{background:none;}
.header .el-menu--horizontal{border-bottom:0px;}
.header .el-menu--horizontal .el-submenu .el-submenu__title,.header .el-menu--horizontal .el-menu-item{height:32px;line-height:32px; font-size:14px;border:0px;border-radius:5px;}
.header .el-menu--horizontal .el-submenu .el-submenu__icon-arrow{color:#666;}
.header .el-menu--horizontal .el-menu-item:hover,.header .el-menu--horizontal .el-submenu .el-submenu__title:hover{ background:none;  border:0px}
.header .el-menu--horizontal .el-submenu .el-menu-item{border-radius:0; min-width:126px;padding-left:15px!important;}
/*---重置element--一级菜单----*/
.header .one-menu .el-submenu .el-submenu__title,.header .one-menu .el-menu-item{height:28px;line-height:28px;color:#fff;padding:0px 10px; min-width: 80px; text-align: center; font-size:16px;margin-right: 5px;}
.header .one-menu{background:url(../images/common/menuBg.png) repeat-x; height:34px; padding-top: 6px;min-width:1000px;}
.header .one-menu .el-menu-item:hover{background:#f7cb88; color:#000;}
.header .one-menu .el-menu-item.is-active,.header .one-menu .el-submenu.is-active .el-submenu__title{background:#fff;color:#000;}
.header .one-menu .el-submenu.is-active .el-icon-caret-bottom{color:#000;}
.header .one-menu .main-container{background:none;}
.header .one-menu .position-r{z-index: 2}
.header .one-menu .menuRight{overflow: hidden; position: absolute; top: -20px;height:60px;width:100%; z-index: 0;}
.header .one-menu .menuRight .menuRightBg{background:url(../images/common/menuRight.png) no-repeat; height:60px; width:100%; display: block; position:relative; left: 50%; margin-left:400px;background-size:29% 100%;}
/*---重置element--二级菜单----*/
.header .el-menu--horizontal .el-submenu>.el-menu{top:40px;padding:0px;}
.header .two-menu .el-menu--horizontal .el-menu-item,.header .two-menu .el-submenu .el-submenu__title{color:#666; height:40px;line-height:40px;padding:0px 20px;border-radius:0;}
.header .two-menu .el-menu--horizontal .twoChild.el-menu-item:hover{border-bottom:1px solid #ee6b00;}
.header .two-menu .el-menu--horizontal .twoChild.el-menu-item.is-active,.header .two-menu .el-menu--horizontal .el-submenu.is-active{color:#ee6b00;border-bottom:1px solid #ee6b00;box-sizing: border-box;height:40px;}
.two-menu .el-menu--horizontal .el-submenu.is-active .el-submenu__title,.header .el-submenu.is-active .el-submenu__icon-arrow{color:#ee6b00;}
.header .two-menu .el-submenu .el-menu-item:hover{color:#fff;background:#ee6b00;}
.header .el-menu .el-submenu.is-active .el-menu-item.is-active{background:#ee6b00;color:#fff;}
.header .two-menu .el-menu-item span{font-size:12px; color:#666}
.header .two-menu.BoxShadow{box-shadow: 0px 0px 5px #ccc; background: #fff;}
/*---功能区------*/
.functionalArea{border: 1px solid #f1f1f1; border-top:2px solid #e72410; margin-top:30px; background:#fff;}
.functionalArea .functionalAreaTitle{height:46px; line-height:46px; padding-left:25px;border-bottom:2px solid #f1f1f1;}

/*---重置el-form-item__error----*/
.el-form-item__error{left:20px;top:112%;z-index:2; background:#FE7;box-shadow: 0 0 8px #aaa; border-radius:3px; padding: 8px;}
.el-form-item__error::before{content: "\E607";font-family: element-icons!important; color:#FE7; position: absolute;top: -7px;left: 14px;}
.el-input__inner{height: 28px; line-height:28px; padding:0px 10px;}
.el-radio-group .el-radio,.el-checkbox-group .el-checkbox{ margin: 0px; margin-right:15px;vertical-align: middle;white-space: normal;}

/*---重置element--form--模拟表格--*/
.tableForm h3{ background: #aca2a0; height: 38px; line-height:38px; padding-left: 20px; font-size:16px; font-weight: normal; color: #fff;}
.tableForm .el-form > .el-form-item{border:1px solid #cbcbc9; background:#fff7f4; }
.tableForm .el-form-item{margin:0px;}
.tableForm .el-form-item__content{float:left; background:#fff; padding:2px 20px; min-height: 40px;box-sizing: border-box}
.tableForm .el-form-item__label{padding:0px 20px 0 0; line-height: 40px;}
.tableForm .el-form-item__content .el-input,.tableForm .el-form-item__content .el-select{vertical-align: middle;}
       //2格表单
.tableForm.twoForm .el-form-item{margin-top:-1px;}
.tableForm.twoForm .el-form-item__label{width:216px;}
.tableForm.twoForm .el-form > .el-form-item > .el-form-item__content{width:700px;border-left:1px solid #cbcbc9;}
.tableForm.twoForm .el-form-item__content .el-input{width:30%; vertical-align: middle;}
.tableForm.twoForm .el-form-item__content .el-textarea{width:50%; vertical-align: middle; margin:4px 0px}
       //2格表单在内在嵌入Item
.tableForm.twoForm .el-form-item__content .el-form-item{display: inline-block; vertical-align:top; width:30%}
.tableForm.twoForm .el-form-item__content .el-form-item__content{padding:0px;width:100%;}
.tableForm.twoForm .el-form-item__content .el-form-item__content .el-input{width:100%;}
.tableForm.twoForm .el-form-item__content .el-form-item__content .el-form-item__error{left:0px;}
.tableForm.twoForm .el-form-item__content .el-radio__label .el-form-item{vertical-align: middle;}
       //4格表单
.tableForm.fourForm .el-row{border:1px solid #cbcbc9; background: url(../images/common/fourFormBg.png) repeat-y; margin-top:-1px;display:flex;}
.tableForm.fourForm .el-row > .el-form-item{width:50%;border:0px; float:left; display:flex; }
.tableForm.fourForm .el-form-item.fullLine{width:100%;}
.tableForm.fourForm .el-form::after{ display: block;content: "clear";height: 0;clear: both;overflow: hidden;visibility: hidden;}
.tableForm.fourForm .el-form-item__label{width:216px; }
.tableForm.fourForm .el-row > .el-form-item > .el-form-item__content > .el-input,.tableForm.fourForm .el-row > .el-form-item > .el-form-item__content > .el-select{width:200px}
.tableForm.fourForm .el-row > .el-form-item > .el-form-item__content{width:242px; background: none;}
.tableForm.fourForm .el-form-item.fullLine > .el-form-item__content{width:699px; background:#fff; margin-left:1px; padding-left:19px;}
       //4格表单在内在嵌入Item
.tableForm.fourForm .el-form-item.fullLine .el-form-item{ display: inline-block; vertical-align: middle; }
.tableForm.fourForm .el-form-item__content .el-form-item__content{padding:0px;}
.tableForm.fourForm .el-form-item__content .el-form-item__content .el-form-item__error{left:0px;}
.tableForm.fourForm .el-form-item__content .el-form-item__content .el-input{width:120px;}


.tableForm .transactionStatus{border:1px solid #cbcbc9; margin-top:-1px; padding: 20px 40px}

/*---formEmbedTable------*/
.formEmbedTable table{width:100%; word-break: break-all;}
.formEmbedTable caption{ background: #aca2a0; height: 38px; line-height:38px; padding-left: 20px; font-size:16px; font-weight: normal; color: #fff; text-align:left;}
.formEmbedTable td,.formEmbedTable th{border:1px solid #cbcbc9;height:30px; padding:0px; }
.formEmbedTable td:nth-child(odd),.formEmbedTable th{background:#fff7f4;text-align:right;box-sizing: border-box;width:216px; padding:4px 20px;}
.formEmbedTable td:nth-child(even){padding:4px 20px;}
.formEmbedTable .tdBgWhite td{background:#fff;}
.formEmbedTable .textCenter td,.formEmbedTable .textCenter th,.formEmbedTable td.textCenter,.formEmbedTable th.textCenter{text-align: center;}
.formEmbedTable tr.bgWhite td{background:#fff;}
.formEmbedTable tr.resetPadding td,.formEmbedTable tr.resetPadding th{width:auto; padding:4px 0px}
.formEmbedTable tr.resetPadding .w28{width:66px;}
.formEmbedTable tr.resetPadding .w28 .el-input__inner{padding:0px; text-align:center;}
.formEmbedTable .el-form-item{margin:0px; display: inline-block;vertical-align: middle;}
.formEmbedTable .el-form-item__error{left:0px;}
.formEmbedTable .el-input{width:200px; display: inline-block;}
.formEmbedTable .el-textarea{width:600px; display: inline-block;}
.formEmbedTable .w200 .el-input,.formEmbedTable .w200 .el-textarea{width:200px; display: inline-block;}
.formEmbedTable .w300 .el-input,.formEmbedTable .w300 .el-textarea{width:300px; display: inline-block;}
.formEmbedTable .w400 .el-input,.formEmbedTable .w400 .el-textarea{width:400px; display: inline-block;}
.formEmbedTable td.tableEvenText{background:#fff; text-align: left;}

.amountRangeTable .el-form-item{margin:0px; display: inline-block;vertical-align: middle;}

.amountRangeTable .w100{width:100px;}
.amountRangeTable .el-table__body-wrapper,.amountRangeTable .cell,.amountRangeTable .el-table{overflow:inherit;}

.el-dialog--small{width: 880px;}
.el-dialog__body div.formEmbedTable td{width:25%;}
.el-dialog__footer{text-align: center; padding-top:0px;}

/*---重置element--button----*/
.btnArea{padding:10px 0px}
.btnArea .el-button{ border-radius:30px; padding: 0px 30px; line-height: 40px; min-width:110px;}
.btnArea .el-button--primary{background:#f28d01; border:1px solid #f28d01}
.btnArea .el-button--primary:hover{background:#eb6300; border:1px solid #eb6300}
.btnArea .el-button--default{border:1px solid #f28d01; color:#f28d01}
.btnArea .el-button--default:hover{border:1px solid #eb6300;color:#eb6300}
.btnArea .el-button.is-disabled,.btnArea .el-button.is-disabled:focus,.btnArea .el-button.is-disabled:hover{background-image: none;background-color: #eef1f6;border-color: #d1dbe5;}
/*---重置element--table----*/
.tableData{text-align: center;}
.tableData .el-table th,.tableData .el-table__header-wrapper thead div{background:#aca2a0; color:#fff;text-align: center;}
.tableData .el-table th,.tableData .el-table td,.tableData .el-table{border:0;}
.tableData .el-table::before,.tableData .el-table::after{background: none;}
.tableData .el-table__empty-block{ border: 1px solid #cbcbc9;width:auto!important;}
.tableData .el-table .cell,.tableData .el-table th>div{padding-left:5px; padding-right: 5px;}
.hideSelectAll thead th .el-checkbox{display:none;}
/*---出口托收----*/
.exportCollectionTable table{width: 100%;}
.exportCollectionTable td,.exportCollectionTable th{border:1px solid #000; padding:5px; vertical-align: top;}
/*-----icon----*/
.iconSuccess{background:url(../images/common/success.png) no-repeat; display: inline-block; width:48px;height: 48px; vertical-align:middle;}
.iconFail{background:url(../images/common/fail.png) no-repeat; display: inline-block; width:48px;height: 48px; vertical-align:middle;}

.contentTab{text-align: center; margin-top: -23px;}
.contentTab a{background: url(../images/common/tabBg.png) no-repeat; display: inline-block; width:145px; height:44px; text-align: center; line-height: 38px;color:#e83322; margin: 0px 30px;}
.contentTab a.current{background: url(../images/common/tabBgActive.png) no-repeat; color:#fff;}
/*-----echart----*/
.assetsPieList{margin-top:15px;}
.assetsPieList li{height:34px;line-height: 34px;border-radius:3px; padding:0px 0px 0px 20px;}
.assetsPieList li:hover,.assetsPieList li.hover{font-size:14px;}
.assetsPieList li.hover a{color:#ac1f2a;}
.assetsPieList li a{display:block;}
.assetsPieList li .squarePie{width:12px;height:12px;border-radius:3px;background:#000;display:inline-block; vertical-align: middle;}
.assetsPieList li:hover .squarePie,.assetsPieList li.hover .squarePie{width:14px;height:14px;}
.assetsPieList li .foreignCurrency{border:1px solid #386ce1;color:#386ce1; border-radius:10px; display:inline-block;width:16px;height:16px; line-height: 16px;font-size:12px;text-align:center;}
.assetsPieList li i.el-icon-caret-top{transition:transform 0.2s;}
.assetsPieList li:hover i.el-icon-caret-top,.assetsPieList li.hover i.el-icon-caret-top{transform:rotate(180deg);}
.assetsPieList li:nth-child(1) .squarePie{background:#cd83f7}
.assetsPieList li:nth-child(2) .squarePie{background:#ea5044}
.assetsPieList li:nth-child(3) .squarePie{background:#f18031}
.assetsPieList li:nth-child(4) .squarePie{background:#28769e}
.assetsPieList li:nth-child(5) .squarePie{background:#2bcd7b}
.assetsPieList li em,.assetsPieList li span{vertical-align:middle;display:inline-block;}
.assetsPieList li span.assetsPieListLeft{width:35%}
.assetsPieList li span.assetsPieListRight{width:55%;color:#d5d5d5;}
.assetsPieList li{position:relative;}
.assetsPieList li .foreignCurrencyTooltip{position:absolute;box-shadow: 0px 0px 35px #ccc;background:#fff; right:-65px; top:0; line-height:20px; text-align:center; width:100px; z-index:100; font-size:12px; color:#666;opacity: 0;transition:opacity 0.2s;display: none;}
.assetsPieList li:hover .foreignCurrencyTooltip,.assetsPieList li.hover .foreignCurrencyTooltip{opacity:1; display:block;}
.assetsPieList li .foreignCurrencyTooltip dd{padding:20px 0px; border-bottom:1px solid #e5e5e5;}
.assetsPieList li .el-icon-caret-left{position:absolute;left:-14px; top:6px; color:#fff; font-size:20px;}
.chartLine{border-top:1px solid #e5e5e5;}
//重置日期控件el-date-picker
.el-date-picker__header{margin:0px;background:#f28d01;;color:#fff;}
.el-date-picker__header-label{color:#fff;}
.el-picker-panel__icon-btn{color:#fff;}
.el-date-table td.current:not(.disabled) span{background:#f28d01;;color:#fff;}
.el-date-table td.available:hover{color:#f28d01;;}
.el-date-picker .el-picker-panel__content{width:322px;margin:0px;}
.el-date-table th{background:#f28d01;;color:#fff;}
.el-date-table td.today span{background:#f28d01;;color:#fff;}
//表格滚动条以及背景色
.el-table__body-wrapper{height:100%;}
.el-table tr:nth-child(even){background: #FAFAFA;}
.el-table--enable-row-hover .el-table__body tr:hover>td{background:#fff7f4;;}
//下拉框兼容
.el-select .el-input .el-select__caret{
  -ms-transform:rotate(180deg) !important;
  -moz--transform:rotate(180deg) !important;
  -webkit-transform:rotate(180deg) !important;
  }
.el-select .is-focus .el-select__caret{
 -ms-transform:rotate(0deg) !important;
  -moz--transform:rotate(0deg) !important;
  -webkit-transform:rotate(0deg) !important;
}
//下拉框显示全字数
.el-select-dropdown__item{text-overflow:clip;}
//多选框兼容
.el-checkbox__input.is-checked .el-checkbox__inner::after{
-ms-transform:rotate(50deg) scaleY(1) !important;
-moz--transform:rotate(45deg) scaleY(1) !important;
-webkit-transform:rotate(45deg) scaleY(1) !important;
}
//多选框disabled后不要勾勾
.el-checkbox__input.is-disabled .el-checkbox__inner::after{
  border-color:#edf2fc;
}
//单选框兼容
.el-radio__input.is-checked .el-radio__inner::after{
  -ms-transform: translate(-50%,-50%) scale(1)!important;
  -moz--transform:translate(-50%,-50%) scale(1)!important;
 -webkit-transform:translate(-50%,-50%) scale(1)!important;
}
//element2.0版本样式
body>div[tabindex="0"]{position: fixed;left:0;top:0;width:100%;height:100%;opacity: .5;background: #000;}
.el-table__body{table-layout: auto;}
//遮罩兼容

@media print {
  .tableForm h3{color:#f00}
  .pageBreakAfter{page-break-after:always}
  .el-table__header-wrapper table,.el-table__body-wrapper table{width:auto !important; font-size:12px;}
}
  .el-table__header{width:auto!important;}
  .el-table__body{width:auto!important;}
  .el-table .cell{padding-left:0px!important;padding-right:0px!important;}
  .el-table__body-wrapper{overflow: hidden;}
//固定弹窗宽度
.el-dialog{width:960px;}


 
