$color-primary: #dc1932;
$color-assist-green: #77bb52;
$color-assist-blue: #409af2;
$color-assist-yellow: #fdcf2f;

//全局用色
$color-overall-one:#4c4c4c;
$color-overall-two:#999999;
$color-overall-three:#e5e5e5;
$color-overall-four:#f5f5f5;

//文字用色
$color-text-black: #4c4c4c;
$color-text-gray: #999999;
$color-text-extrude: #dc1932;
$color-text-click: #409af2;
$color-text-green: #77bb52;
$color-text-white: #ffffff;
$color-text-orange: #FB5B4D;

//背景
$color-bg-white: #ffffff;
$color-bg-light-gray: #f5f5f5;

//分割线
$color-hr: #e5e5e5;

//默认按钮
$color-btn-default: #fff;
$color-btn-default-border: #999999;
$color-btn-default-text:#4c4c4c;
$color-btn-default-hover: #f6f6f6;
$color-btn-default-hover-border: #999999;
$color-btn-default-hover-text:#4c4c4c;

//主色调
$color-btn-primary: #dc1932;
$color-btn-primary-border: #dc1932;
$color-btn-primary-text:#fff;
$color-btn-primary-hover: #ba2532;
$color-btn-primary-hover-border: #ba2532;
$color-btn-primary-hover-text:#fff;

//黄色
$color-btn-warning: #fff;
$color-btn-warning-border: #fe7921;
$color-btn-warning-text:#fe7921;
$color-btn-warning-hover: #fe7921;
$color-btn-warning-hover-border: #fe7921;
$color-btn-warning-hover-text:#fff;

//蓝色
$color-btn-info: #409af2;
$color-btn-info-border: #409af2;
$color-btn-info-text:#fff;
$color-btn-info-hover: #2c7fd0;
$color-btn-info-hover-border: #2c7fd0;
$color-btn-info-hover-text:#fff;

//绿色
$color-btn-success: #77bb52;
$color-btn-success-border: #77bb52;
$color-btn-success-text: #fff;
$color-btn-success-hover: #4f9529;
$color-btn-success-hover-border: #4f9529;
$color-btn-success-hover-text:#fff;